%h1 Liste des équipements

%p#notice= notice

%ul.list-group#tableau
	- @equipments.each do |e|
		%li.list-group-item
			=link_to 'suppr', equipment_path(e), :method => :delete, data: { confirm: 'Voulez-vous vraiment supprimer l\'aventurier ?' }, :class => 'badge'
			=link_to 'modif', edit_equipment_path(e), :method => :get, :class => 'badge'
			=link_to 'voir', equipment_path(e), :method => :get, :class => 'badge'
			= e.name

= button_to "Ajouter un élément", new_equipment_path, :method => :get, :class => 'btn'
