%h1 Liste des aventuriers

%p#notice= notice

%ul.list-group#tableau
	- @users.each do |u|
		%li.list-group-item
			=link_to 'suppr', user_path(u), :method => :delete, data: { confirm: 'Voulez-vous vraiment supprimer l\'aventurier ?' }, :class => 'badge'
			=link_to 'modif', edit_user_path(u), :method => :get, :class => 'badge'
			=link_to 'voir', user_path(u), :method => :get, :class => 'badge'
			= u.nickname

= button_to "Ajouter un aventurier", new_user_path, :method => :get, :class => 'btn'
