%h1 Liste des classes

%p#notice= notice

%ul.list-group#tableau
	- @classes.each do |c|
		%li.list-group-item
			=link_to 'suppr', class_path(c), :method => :delete, data: { confirm: 'Voulez-vous vraiment supprimer l\'aventurier ?' }, :class => 'badge'
			=link_to 'modif', edit_class_path(c), :method => :get, :class => 'badge'
			=link_to 'voir', class_path(c), :method => :get, :class => 'badge'
			= c.name

= button_to "Créer une nouvelle classe", new_class_path, :method => :get, :class => 'btn'
