/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

h1
{
	text-align: center;
}

table
{
  border-collapse: collapse;
  width: 90%;
}

table, th, td
{
  border: 1px solid green;
}

th
{
  height: 50px;
  text-align: center;
  background-color: #8BC34A;
  color: white;
}

td
{
	padding-left: 10px;
}


.panel-primary
{
	width: 300px;
	margin-left: 50px;
}

.panel-body
{
	margin-left: 20px;
}

.panel-info
{
	width: 500px;
	margin-left: 50px;
}

#tableau
{
	width: 300px;
	margin-left: 50px;
}

.btn
{
	margin-left: 50px;
}

.input-group
{
	width: 500px;
	margin-left: 50px;
}
