// Place all the styles related to the classes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#notice {
	width: auto;
	text-align: center;
  color: green;
  background-color: #C5E1A5;
}