<p>Hello <%= @resource.email %>!</p>

<p>Quelqu'un a demandé un lien pour changer vogtre mot de passe. Vous pouvez le faire en cliquant sur le lien suivant</p>
<!-- <p>Someone has requested a link to change your password. You can do this through the link below.</p>
 -->
<p><%= link_to 'Changer mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si la demande ne vient pas de vous, merci d'ignorer cet Email</p>
<p>Votre mot de passe ne sera pas modifié tant que vous n'aurez pas cliqué sur le lien et créé un nouveau</p>
<!-- <p>If you didn't request this, please ignore this email.</p> -->
<!-- <p>Your password won't change until you access the link above and create a new one.</p> -->
